/*==================*/
/* Public Elements */
/*=================*/
@font-face {
    font-family: 'PT Sans Regular';
    src: url(/static/fonts/PT_Sans-Web-Regular.ttf);
}

body {
    font-family: 'PT Sans Regular', sans-serif;
    width: 100%;
    background-image: url(/static/img/temp2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    background-color: #2f3233;
    overflow: hidden;
}

h1{
    margin-top: 0;
}

p{
    margin: 5px 0;
    font-size: 18px;
}

a{
    text-decoration: none !important;
    color: #80314c;
    font-size: 18px;
}

/*==================*/
/* Header Elements */
/*=================*/

.header-container{
    width: 80%;
    margin: auto;
}

.main-header{
    float: left;
    margin: 10px;
    color: #a28632;
    font-size: 40px;
}

.login-div{
    float: right;
    margin: 16px 0;
    padding: 5px 17px 8px 17px;
    background-color: #80314c;
    border: 1px solid #80314c;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}

.login-div:hover{
    background-color: #a28632 !important;
}

.login-div a{
    color: #fff;
}

/*==========================*/
/* Main Container Elements */
/*=========================*/

.main-container{
    width: 70%;
    margin: 10px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.93);
    border: 1px solid #d5d5d5;
    overflow: hidden;
}

.main-categories{
    width: 25%;
    float: left;
    padding: 0 10px;
}

.main-section{
    width: 75%;
    float: left;
    padding: 0 0 0 20px;
    border-left: 1px solid #d5d5d5;
}

.sub-header{
    color: #fc838e;
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: bolder;
}

.latest-item-category{
    font-size: 14px;
    color: #999;
}

#delete-a, #edit-a{
    padding: 5px;
}

#delete-a{
   border-left: 1px solid #d5d5d5; 
}
