<!DOCTYPE html>
<html>

<head>
    <title>Latest Updates</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css"/>
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="main-header">Food Catalog Project</h1>
            <div class="login-div">Login</div>
        </div>
    </header>

    <div class='main-container'>

        <aside class="main-categories">
            <h1 class="sub-header">Food Categories</h1>
            <div class='category-name'>
                {% for mc in mainCategories %}
                    <p><a href='{{url_for('mainCategory', mainCategory_id = mc.id)}}'>{{mc.name}} Recipes</a></p>
                {% endfor %}
            </div>
        </aside>

        <main class="main-section">
            <h1 class="sub-header">Latest Food Items</h1>
                {% for i in latestItems %}
                    <p><a href='{{url_for('subCategory', mainCategory_id = i.category.id, subCategory_id = i.id)}}' class="latest-item">{{i.name}} Recipes <span class="latest-item-category">( {{i.category.name}} )</span>
                    </a></p>
                {% endfor %}
            </main>
            
        </div> <!-- end main-container -->
</body>

</html>
