<!DOCTYPE html>
<html>
    <head>
        <title>{{mainCategory.name}} Recipes</title>
    </head>
	
	<body>
        <header>
            <h1>Food Catalog Project</h1>
        </header>
        
        <div class = 'main-container'>
            
            <aside class="main-categories">
                <h3>Food Categories</h3>
                {% for mc in mainCategories %}
                    <div class = 'category-name'>
                        <a href = '{{url_for('mainCategory', mainCategory_id = mc.id)}}'>
                            {{mc.name}} Recipes
                        </a>
                    </div>
                {% endfor %}
            </aside>
            
            <main class="sub-category-item">
                <h3>{{subCategory.name}} Recipes</h3>
                <p>Description: {{subCategory.description}}</p>
            </main>
            
        </div> <!-- end main-container -->
	</body>

</html>
