<!DOCTYPE html>
<html>

<head>
    <title>{{mainCategory.name}} Recipes</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="main-header">Food Catalog Project</h1>
            <div class="login-div"><a href='{{url_for(' showLogin ')}}'>Login</a></div>
        </div>
    </header>

    <div class='main-container'>

        <aside class="main-categories">
            <h1 class="sub-header">Food Categories</h1>
            <div class='category-name'>
                {% for mc in mainCategories %}
                <p><a href='{{url_for(' mainCategory ', mainCategory_id = mc.id)}}'>{{mc.name}} Recipes</a></p>
                {% endfor %}
            </div>
        </aside>

        <main class="sub-category-item main-section">
            <h3>{{subCategory.name}} Recipes</h3>
            <p class="descrip-p">Description: {{subCategory.description}}</p>
            <div class="edit-delete-div">
                <a id="edit-a" href='{{url_for('editSubCategory', mainCategory_id = mainCategory.id, subCategory_id = subCategory.id)}}'>Edit</a>
                <a id="delete-a" href='{{url_for('deleteSubCategory', mainCategory_id = mainCategory.id, subCategory_id = subCategory.id)}}'>Delete</a>
            </div>
        </main>

    </div>
    <!-- end main-container -->
</body>

</html>
